<ng-container *transloco="let t; read: 'details'">
  <app-nav />

  <div class="wrapper">
    <app-details id="details" />
  </div>

  <!-- Sample #2: Using trigger element other than placeholder -->
  <!-- <span #triggerEl></span>-->
  <!--<div class="wrapper" style="margin-top: 0;">-->
  <!--  <p>{{t('paragraph_1')}}</p>-->

  <!--  <p>{{t('paragraph_2')}}</p>-->

  <!--  <p>{{t('paragraph_3')}}</p>-->

  <!--  <p>{{t('paragraph_4')}}</p>-->

  <!--  <p>{{t('paragraph_5')}}</p>-->

  <!--  <p>{{t('paragraph_6')}}</p>-->

  <!--  <p>{{t('paragraph_7')}}</p>-->

  <!--  <p>{{t('paragraph_8')}}</p>-->

  <!--  <p>{{t('paragraph_9')}}</p>-->
  <!--</div>-->

  <!-- Sample #1: Using placeholder as trigger element -->
  <div class="wrapper wrapper-xl">
    @defer (on viewport) {
      <app-projects />
    } @placeholder {
      <p style="text-align: center">Projects will be rendered here...</p>
    } @loading (after 1s; minimum 3s) {
      <app-projects-skeleton />
    } @error {
      <p>Oops, something went wrong!</p>
    }
  </div>

  <!-- Sample #2: Using trigger element other than placeholder -->
  <!-- <div class="wrapper wrapper-xl">-->
  <!--	@defer (on viewport(triggerEl)) {-->
  <!--		<app-projects  />-->
  <!--	} @placeholder () {-->
  <!--		<p style="text-align: center;">Projects will be rendered here...</p>-->
  <!--	} @loading (after 1s; minimum 3s) {-->
  <!--        <app-projects-skeleton />-->
  <!--	} @error {-->
  <!--		<p>Oops, something went wrong!</p>-->
  <!--	}-->
  <!--</div>-->

  <!-- Sample #3: Loading more than one component together -->
  <!--<div class="wrapper wrapper-xl">-->
  <!--	@defer (on viewport) {-->
  <!--		<app-projects  />-->
  <!--		<app-achievements />-->
  <!--	} @placeholder () {-->
  <!--		<p style="text-align: center;">Projects and Achievements will be rendered here...</p>-->
  <!--	} @loading (after 1s; minimum 3s) {-->
  <!--		<h2>Projects</h2>-->
  <!--        <app-projects-skeleton />-->

  <!--        <h2>Achievements</h2>-->
  <!--        <app-achievements-skeleton />-->
  <!--	} @error {-->
  <!--		<p>Oops, something went wrong!</p>-->
  <!--	}-->
  <!--</div>-->

  <!-- Sample #4: Loading more than one component separately -->
  <div class="wrapper wrapper-xl">
    @defer (on viewport) {
      <app-projects />
    } @placeholder {
      <p style="text-align: center">Projects will be rendered here...</p>
    } @loading (after 1s; minimum 3s) {
      <h2>Projects</h2>
      <app-projects-skeleton />
    } @error {
      <p>Oops, something went wrong!</p>
    }

    @defer (on viewport) {
      <app-achievements />
    } @placeholder {
      <p style="text-align: center">Achievements will be rendered here...</p>
    } @loading (after 1s; minimum 3s) {
      <h2>Achievements</h2>
      <app-achievements-skeleton />
    } @error {
      <p>Oops, something went wrong!</p>
    }
  </div>

  <hr />

  <div class="wrapper">
    <app-footer id="contact" />
  </div>
</ng-container>
