<ng-container *transloco="let t; read: 'details'">
<div style="display: flex; gap: 15px; align-items: center;">
  <img src="./../assets/images/photo.jpg" alt="user image" />

  <h1>Pepe <br /><span style="color: rgb(132, 141, 151)">&#64;Firthuns</span></h1>

  <div class="social-icons">
    <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
    <a href="#" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
    <a href="#" class="icon-link"><i class="fab fa-codepen"></i></a>
    <!-- Add more social media icons as needed -->
  </div>
</div>

<p>{{t('paragraph_1')}}</p>

<p>{{t('paragraph_2')}}</p>

<p>{{t('paragraph_3')}}</p>

<p>{{t('paragraph_4')}}</p>

<p>{{t('paragraph_5')}}</p>

<p>{{t('paragraph_6')}}</p>

<p>{{t('paragraph_7')}}</p>

<p>{{t('paragraph_8')}}</p>

<p>{{t('paragraph_9')}}</p>

</ng-container>
